<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="/s/main.css" rel="stylesheet" type="text/css"/>
  <title>Crons</title>
  <script type="module" src="/s/lit/header-group.js"></script>
  <script type="text/javascript" src="/s/main.js"></script>
  <script type="text/javascript">
    function updateCron(elem) {
      elem.form.submit();
    }
    function addCron() {
      document.getElementById("_newcron").submit();
    }
    function deleteCron(id) {
      window.location = '/set/crons/edit?ci=' + id + '&task=Delete';
    }
  </script>
</head>
<body>
  <header-group id="header" class="header">
    <nav-menu id="nav-menu">
      {{range .Pages -}}
        <li data-perm="{{.Perm}}" class="indent-{{ .Level }}">
          <a {{if .URL}}href="{{.URL}}"{{end}}{{if .Selected}} class="selected"{{end}}>{{.Name}}</a>
        </li>
      {{- end}}
    </nav-menu>
    <div class="heading">
        <img src="/s/tiny_logo.png" alt="AusOcean logo"> Video Grinder v{{.Version}}
    </div>
    <site-menu id="sitemenu" {{if .Profile}}selected-data="{{.Profile.Data}}"{{end}}>
      {{range .Users -}}
        <option style="display: none" slot="{{.PermissionText}}" value="{{.Skey}}"></option>
      {{- end}}
    </site-menu>
    <div class="top-right">
        {{if .Profile}}<a href="{{.LogoutURL}}">Log out</a>{{end}}
    </div>
  </header-group>
  <section id="main" class="main">
    {{if .Msg}}<div class="red">{{.Msg}}</div>
    <br>
    {{end}}
    <div class="table" id="crons">
      <div class="tr">
        <span class="td select"></span>
        <span class="td std">ID</span>
        <span class="td half">Time</span>
        <span class="td half">Action</span>
        <span class="td std">Variable</span>
        <span class="td std">Value</span>
        <span class="td half">Enabled</span>
      </div>
      {{range $c := .Crons}}
      <form class="tr" id="{{ .ID }}" enctype="multipart/form-data" action="/set/crons/edit" method="post" novalidate>
        <span class="td select"><img src="/s/delete.png" onclick="deleteCron('{{ .ID }}');"></span>
        <span class="td std"><input type="text" name="ci" value="{{ .ID }}" class="std" readonly></span>
        <span class="td half"><input type="text" name="ct" value="{{ .FormatTime $.Timezone }}" class="half" onchange="updateCron(this);"></span>
        <span class="td half"><select name="ca" class="half" onchange="updateCron(this);">{{range $.Actions }}
          <option value="{{.}}"{{if eq . $c.Action }} selected{{end}}>{{.}}</option>{{end}}</select></span>
        <span class="td std"><input type="text" name="cv" value="{{ .Var }}" class="std" onchange="updateCron(this);"></span>
        <span class="td std"><input type="text" name="cd" value="{{ .Data }}" class="std" onchange="updateCron(this);"></span>
        <span class="td half"><input type="checkbox" name="ce"{{if .Enabled}} checked{{end}} onchange="updateCron(this);"></span>
      </form>{{end}}
      <form class="tr" id="_newcron" enctype="multipart/form-data" action="/set/crons/edit" method="post" novalidate>
        <span class="td select"><img src="/s/add.png" onclick="addCron();"></span>
        <span class="td std"><input type="text" name="ci" class="std"></span>
        <span class="td half"><input type="text" name="ct" class="half"></span>
        <span class="td half"><select name="ca" class="half">{{range $.Actions }}
          <option value="{{.}}">{{.}}</option>{{end}}</select></span>
        <span class="td std"><input type="text" name="cv" class="std"></span>
        <span class="td std"><input type="text" name="cd" class="std"></span>
        <span class="td half"><input type="checkbox" name="ce"></span>
        <input type="hidden" name="task" value="Add">
      </form>
    </div>
  </section>
  {{.Footer}}
</body>
</html>
