<h2>Variables</h2>
{{ if .Msg }}
<p class="msg">{{ .Msg }}</p>
{{ end }}
<hr />

<div class="row fw-bold m-auto mb-2" style="max-width: 500px">
  <div class="col text-center">Name</div>
  <div class="col text-center">Value</div>
</div>

{{range .Vars}}
<form class="row align-items-center gx-1 m-auto" style="max-width: 500px" enctype="multipart/form-data" action="/set/devices/edit/var" method="get" novalidate>
  <div class="col-auto">
    <img style="width: 16px; height: 16px" src="/s/delete.png" onclick="deleteVar(event, '{{$.Device.MAC}}','{{ .Basename }}');" />
  </div>
  <input class="col form-control form-control-sm w-100" type="text" name="vn" value="{{ .Basename }}" readonly />
  <input class="col form-control form-control-sm w-100" type="text" name="vv" value="{{ .Value }}" onchange="submitVar(event, this)" oninput="validateVar(this)" />
  {{if .IsLink }}
  <a href="{{ .Value }}" target="_blank"><img src="/s/link.png" /></a>
  {{end}}
  <p class="msg hidden"></p>
  <input class="col" type="hidden" name="ma" value="{{$.Device.MAC}}" />
</form>
{{end}}

<form class="row gx-1 align-items-center m-auto" style="max-width: 500px" id="_newvar" enctype="multipart/form-data" action="/set/devices/edit/var" method="get" onsubmit="checkVar(event);" novalidate>
  <div class="col-auto">
    <input type="image" src="/s/add.png" />
  </div>
  <input type="text" class="col form-control form-control-sm w-100" name="vn" id="vn" list="list_vars" onchange="setValue('_newvar');" />
  <input type="text" class="col form-control form-control-sm w-100" name="vv" id="vv" oninput="validateVar(this)" />
  <p class="col msg hidden"></p>
  <input type="hidden" name="ma" value="{{$.Device.MAC}}" />
</form>
