<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link href="/src/main.css" rel="stylesheet" type="text/css" />
    <title>CloudBlue | Upload</title>
    <style type="text/css">
      #dropzone {
        margin-left: 205px;
        height: 100px;
        border: 1px solid black;
        border-radius: 10px;
        background-color: #def;
        line-height: 100px;
        text-align: center;
      }
      #dropzone:hover {
        background-color: #eef;
      }
      #dropzone.active {
        background-color: #ddf;
      }
      .blinking {
        animation: blink 1s infinite;
      }
      @keyframes blink {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    </style>
    <script type="module" src="/src/web-components/header-group.ts"></script>
    <script type="text/javascript" src="/src/main.js"></script>
    <script type="text/javascript">
      function init() {
        const dropzone = document.querySelector("#dropzone");
        dropzone.addEventListener("dragover", (event) => {
          event.preventDefault();
          dropzone.classList.add("active");
        });
        dropzone.addEventListener("dragleave", (event) => {
          dropzone.classList.remove("active");
        });
        dropzone.addEventListener("drop", (event) => {
          event.preventDefault();
          const files = event.dataTransfer.files;
          const mid = document.getElementById("id").value;
          if (mid == "") {
            write(true, "MID missing");
            return;
          }
          var stats = { total: files.length, uploaded: [], failed: [] };
          write(true, '<span class="blinking">Uploading...</span>');
          for (const file of files) {
            upload(file, stats);
          }
        });
      }
      function upload(file, stats) {
        const formData = new FormData(document.getElementById("form"));
        formData.append("file", file);
        const xhr = new XMLHttpRequest();
        xhr.open("POST", "/upload", true);
        xhr.setRequestHeader("X-Requested-With", "XMLHttpRequest");
        xhr.send(formData);
        xhr.onload = function () {
          if (xhr.status === 200) {
            stats.uploaded.push(file);
          } else {
            stats.failed.push(file);
          }
          writeStats(stats);
        };
      }
      function write(clear, ...args) {
        var msg = "";
        if (!clear) {
          msg = document.getElementById("msg").innerHTML;
        }
        for (var i = 0; i < args.length; i++) {
          if (typeof args[i] === "number") {
            msg += args[i].toString();
          } else {
            msg += args[i];
          }
        }
        msg += "<br>";
        document.getElementById("msg").innerHTML = msg;
      }
      function writeStats(stats) {
        write(true, "Total: ", stats.total);
        write(false, "Uploaded: ", stats.uploaded.length);
        for (var i = 0; i < stats.uploaded.length; i++) {
          write(false, "&bull; ", stats.uploaded[i].name, " (", stats.uploaded[i].size, " bytes)");
        }
        if (stats.failed.length == 0) {
          return;
        }
        write(false, "Failed to upload: ", stats.failed.length);
        for (var i = 0; i < stats.failed.length; i++) {
          write(false, "&bull; ", stats.failed[i].name, " (", stats.failed[i].size, " bytes)");
        }
      }
    </script>
  </head>
  <body onload="init();">
    <header-group id="header" class="header" version="{{ .Version }}" {{ if .Profile }}auth="true" {{ end }}>
      <nav-menu id="nav-menu" slot="nav-menu">
        {{ range .Pages -}}
        <li data-perm="{{ .Perm }}" class="indent-{{ .Level }}">
          <a {{ if .URL }}href="{{ .URL }}" {{ end }}{{ if .Selected }}class="selected" {{ end }}>{{ .Name }}</a>
        </li>
        {{- end }}
      </nav-menu>
      <site-menu id="sitemenu" {{ if .Profile }}selected-data="{{ .Profile.Data }}" {{ end }} slot="site-menu">
        {{ range .Users -}}
        <option style="display: none" slot="{{ .PermissionText }}" value="{{ .Skey }}"></option>
        {{- end }}
      </site-menu>
    </header-group>
    <section id="main" class="main">
      {{ if .Msg }}
      <div class="red">{{ .Msg }}</div>
      <br />
      {{ end }}
      <h1 class="container-md">Upload</h1>
      <div class="border rounded p-4 container-md bg-white">
        <form action="/upload" method="POST" id="form" enctype="multipart/form-data">
          <fieldset>
            <label>Media ID*:</label>
            <input type="input" name="id" id="id" {{ if .MID }}value="{{ .MID }}" {{ end }} class="w-50" />
            <br />
            <label>MPEG-TS file:</label>
            <input type="file" name="file" id="file" class="btn btn-primary w-50" />
            <br />
            <div id="dropzone" class="w-50">or drop files here</div>
            <br />
            <input type="submit" name="task" value="Upload" class="btn btn-primary" />
          </fieldset>
        </form>
        <br />
        <br />
        <button onClick="updateMID('ma','pn','id');" class="btn btn-primary">Convert to Media ID</button>
        MAC:
        <input type="input" id="ma" placeholder="00:00:00:00:00:00" />
        Pin:
        <input type="input" id="pn" value="V0" />
        <br />
        <br />
        <p class="fineprint">*If unsure, ask an AusOcean crew member to provide you one.</p>
      </div>
    </section>
    {{ .Footer }}
  </body>
</html>
