{
  "plugins": ["prettier-plugin-tailwindcss"],
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 2000
      }
    },
    {
      "files": "*.ts",
      "options": {
        "printWidth": 2000
      }
    }
  ]
}
