# .air.toml
[build]
  cmd = "go build -o ./tmp/main ."
  entrypoint = ["./tmp/main"]
  include_ext = ["go", "js", "ts", "html"]
  exclude_dir = ["s/lit", "tmp", "dist", "node_modules"]
  args_bin = ["--tvurl=http://localhost:8082", "--cronurl=http://localhost:8081"]
  send_interrupt = true
  kill_delay = "2s"

[proxy]
  enabled = true
  proxy_port = 8090
  app_port = 8080
