{
  "overrides": [
    {
      "files": "*.html",
      "options": {
        "printWidth": 2000,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "htmlWhitespaceSensitivity": "ignore",
        "bracketSameLine": true
      }
    },
    {
      "files": ["**/*.{js,ts,jsx,tsx}"],
      "options": {
        "printWidth": 2000,
        "tabWidth": 2,
        "useTabs": false,
        "singleQuote": false,
        "htmlWhitespaceSensitivity": "ignore",
        "embeddedLanguageFormatting": "auto",
        "bracketSameLine": true
      }
    }
  ]
}
