<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="/s/main.css" rel="stylesheet" type="text/css"/>
  <title>Broadcast</title>
  <style type="text/css">
    .actions { width: 400px; }
  </style>
  <script type="module" src="/s/lit/header-group.js"></script>
  <script type="text/javascript" src="/s/main.js"></script>
  <script type="text/javascript" src="/s/broadcast.js"></script>
</head>
<body>
  <header-group id="header" class="header" version="{{.Version}}" {{if .Profile}}auth="true"{{end}}>
    <nav-menu id="nav-menu" slot="nav-menu">
      {{range .Pages -}}
        <li data-perm="{{.Perm}}" class="indent-{{ .Level }}">
          <a {{if .URL}}href="{{.URL}}"{{end}}{{if .Selected}} class="selected"{{end}}>{{.Name}}</a>
        </li>
      {{- end}}
    </nav-menu>
    <site-menu id="sitemenu" {{if .Profile}}selected-data="{{.Profile.Data}}"{{end}} slot="site-menu" custom-handling>
      {{range .Users -}}
        <option style="display: none" slot="{{.PermissionText}}" value="{{.Skey}}"></option>
      {{- end}}
    </site-menu>
  </header-group>
  <section id="main" class="main">
    {{if .Msg}}
      <div class="red">
        {{.Msg}}
      </div>
      <br>
    {{end}}
    <br>

    <h1 class="container-md">Broadcast</h1>
    <div class="border rounded p-4 container-md bg-white">
      <form action="/admin/broadcast" enctype="multipart/form-data" method="post">
        <fieldset>
          <label>Select Broadcast:</label>
          <select name="broadcast-select" onchange="submitSelect(this)" id="broadcast-name-select">
            <option value="">-- New Broadcast --</option>
            {{range .BroadcastVars}}
              <option value="{{ .Name }}" {{if eq (part (split .Name ".") 1) $.CurrentBroadcast.Name}}selected{{end -}}>{{ .Name }}</option>
            {{end}}
          </select>
          <br>
          <label class="advanced">List Secondary Broadcasts:</label>
          <input class="advanced" type="checkbox" name="list-secondaries" value="listing-secondaries" onchange="this.form.submit()" {{if .ListingSecondaries}}checked{{end}}>
          <br class="advanced">
          <label>Broadcast Name:</label>
          <input type="input" name="broadcast-name" value="{{.CurrentBroadcast.Name}}">
          <br>
          <label>Enabled:</label>
          <input type="checkbox" name="enabled" value="enabled" {{if .CurrentBroadcast.Enabled}}checked{{end}}>
          <br>
          <label>Channel:</label>
          <input type="input" name="account" value="{{.CurrentBroadcast.Account}}" readonly>
          <br>
          <label>Description:</label>
          <textarea id="description-box" type="input" name="description">{{.CurrentBroadcast.Description}}</textarea>
          <br>
          <label>Stream Name:</label>
          <input type="input" name="stream-name" value="{{.CurrentBroadcast.StreamName}}">
          <br>
          <label>Privacy:</label>
          <div class="d-flex gap-3 flex-row">
          {{range .Settings.Privacy}}
            <div>
              <input type="radio" name="privacy" value="{{.}}" {{if eq . $.CurrentBroadcast.Privacy}}checked{{end}}>
              {{.}}
            </div>
          {{end}}
          </div>
          <label>Resolution:</label>
          <div class="d-flex gap-3 flex-row">
          {{range .Settings.Resolution}}
            <div>
              <input type="radio" name="resolution" value="{{.}}" {{if eq . $.CurrentBroadcast.Resolution}}checked{{end}}>
              {{.}}
            </div>
          {{end}}
          </div>
          <label>Camera:</label>
          <select name="camera-mac">
            {{if not .CurrentBroadcast.CameraMac}}
            <option>Select</option>
            {{end}}
            {{range .Cameras}}
              <option value="{{.MAC}}" {{if eq .Mac $.CurrentBroadcast.CameraMac }}selected{{end}}>{{.Name}}</option>
          {{ end }}
          </select>
          <br>
          <label>Controller:</label>
          <select name="controller-mac">
            {{if not .CurrentBroadcast.ControllerMAC}}
              <option>Select</option>
            {{end}}
            {{range .Controllers}}
              <option value="{{.MAC}}" {{if eq .Mac $.CurrentBroadcast.ControllerMAC }}selected{{end}}>{{.Name}}</option>
            {{ end }}
          </select>
          <br>
          <label>On Actions:</label>
          <input type="input" name="on-actions" value="{{.CurrentBroadcast.OnActions}}" class="actions">
          <br>
          <label>Off Actions:</label>
          <input type="input" name="off-actions" value="{{.CurrentBroadcast.OffActions}}" class="actions">
          <br>
          <label>RTMP URL Variable:</label>
          <input type="input" name="rtmp-key-var" value="{{.CurrentBroadcast.RTMPVar}}">
          <br>
          <label class="advanced">RTMP Key:</label>
          <input class="advanced"type="input" name="rtmp-key" value="{{.CurrentBroadcast.RTMPKey}}">
          <br class="advanced">
          <div id="set-times">
            <label>Start Date/Time:</label>
            <div class="d-flex gap-2">
              <input name="start-time" type="datetime-local" id="start-time" onchange="sync('start-time', 'start-timestamp', 'time-zone', true)" size="14">
              <input class="advanced" name="start-timestamp" type="input" id="start-timestamp" onchange="sync('start-time', 'start-timestamp', 'time-zone', false);" value="{{if .CurrentBroadcast.StartTimestamp}}{{.CurrentBroadcast.StartTimestamp}}{{end}}" size="15">
            </div>
            <label>End Date/Time:</label>
            <div class="d-flex gap-2">
              <input name="end-time" type="datetime-local" id="end-time" onchange="sync('end-time', 'end-timestamp', 'time-zone', true)" size="14">
              <input class="advanced" name="end-timestamp" type="input" id="end-timestamp" onchange="sync('end-time', 'end-timestamp', 'time-zone', false);" value="{{if .CurrentBroadcast.EndTimestamp}}{{.CurrentBroadcast.EndTimestamp}}{{end}}" size="15">
            </div>
            <label>Timezone:</label>
            <input id="time-zone" size="3" value="{{if .Site.Timezone}}{{.Site.Timezone}}{{end}}" readonly>
            <br>
          </div>
          <label>Live Chat:</label>
          <input type="checkbox" name="report-sensor" id="report-sensor" value="Chat">
          <br>
          <label class="advanced">Sensors:</label>
          <button class="advanced" onclick="checkAll(this.form)">Add All</button>
          <button class="advanced" onclick="uncheckAll(this.form)">Clear All</button>
          {{ range .CurrentBroadcast.SensorList }}
            <input class="advanced" type="checkbox" name="{{ .Name }}" id="{{ .Name }}" value="{{ .Sensor.Name }}">{{ .Sensor.Name }}
          {{ end }}
          <br class="advanced">
          <label class="advanced">Health Check:</label>
          <input class="advanced" type="checkbox" name="check-health" value="checking-health" {{if .CurrentBroadcast.CheckingHealth}}checked{{end}}>
          <br class="advanced">
          <label class="advanced">Use Vidforward:</label>
          <input class="advanced" type="checkbox" name="use-vidforward" value="using-vidforward" {{if .CurrentBroadcast.UsingVidforward}}checked{{end}}>
          <br class="advanced">
          <label class="advanced">Vidforward Host:</label>
          <input class="advanced" type="input" name="vidforward-host" value="{{.CurrentBroadcast.VidforwardHost}}">
          <br class="advanced">
          <label class="advanced">Slate File:</label>
          <input class="advanced" type="file" name="slate-file">
          <br class="advanced">
          <button class="advanced" onclick="buttonClick(this)" value="vidforward-slate-update">Upload Slate</button>
          <br class="advanced">
        </fieldset>
        <br>
        <input type="hidden" name="broadcast-id" value="{{.CurrentBroadcast.ID}}">
        <input type="hidden" name="active" value="{{.CurrentBroadcast.Active}}">
        <button onclick="buttonClick(this)" value="broadcast-save">Save</button>
        <button onclick="buttonClick(this)" value="broadcast-delete">Delete</button>
        <button onclick="buttonClick(this)" value="broadcast-token">Generate Token</button>
      <br>
        <label for="adv-toggle">Advanced Options:</label>
        <input type="checkbox" id="adv-options-toggle" name="adv-toggle" onchange="toggleAdvanced(checked)">

        <!--This hidden field stores the value of button presses.-->
        <input type="hidden" name="action" value="">
      </form>
    </div>

    {{if .CurrentBroadcast.ID}}
      <iframe width="560" height="315" src="https://www.youtube.com/embed/{{.CurrentBroadcast.ID}}" frameborder="0" allowfullscreen></iframe>
    {{end}}
  </section>
  <!-- These only exist to hold the data from the templates, these will be read by javascript. -->
  <div id="sensor-list" style="display: none;" data-sensor-list='{{json .CurrentBroadcast.SensorList}}'></div>
  <div id="send-msg" style="display: none;" data-send-msg="{{.CurrentBroadcast.SendMsg}}"></div>

  {{.Footer}}
</body>
</html>