<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="/s/main.css" rel="stylesheet" type="text/css" />
    <title>Broadcast</title>
    <style type="text/css">
      .actions {
        width: 400px;
      }
    </style>
    <script type="module" src="/s/lit/header-group.js"></script>
    <script type="text/javascript" src="/s/main.js"></script>
    <script type="text/javascript" src="/s/broadcast.js"></script>
  </head>
  <body>
    <header-group id="header" class="header" version="{{.Version}}" {{if .Profile}}auth="true" {{end}}>
      <nav-menu id="nav-menu" slot="nav-menu">
        {{range .Pages -}}
        <li data-perm="{{.Perm}}" class="indent-{{ .Level }}">
          <a {{if .URL}}href="{{.URL}}" {{end}}{{if .Selected}} class="selected" {{end}}>{{.Name}}</a>
        </li>
        {{- end}}
      </nav-menu>
      <site-menu id="sitemenu" {{if .Profile}}selected-data="{{.Profile.Data}}" {{end}} slot="site-menu" custom-handling>
        {{range .Users -}}
        <option style="display: none" slot="{{.PermissionText}}" value="{{.Skey}}"></option>
        {{- end}}
      </site-menu>
    </header-group>
    <section id="main" class="main">
      {{if .Msg}}
      <div class="red">{{.Msg}}</div>
      <br />
      {{end}}
      <br />

      <h1 class="container-md">Broadcast</h1>
      <div class="border rounded p-4 container-md bg-white">
        <form action="/admin/broadcast" enctype="multipart/form-data" method="post">
          <div class="d-flex align-items-center gap-1 mb-1">
            <button class="btn btn-primary btn-sm" onclick="submitSelect()">Refresh</button>
          </div>
          <div class="d-flex align-items-center gap-1 mb-1">
            <label for="broadcast-select" class="w-25 text-end">Select Broadcast:</label>
            <select id="broadcast-select" name="broadcast-select" class="form-select w-50 h-auto align-items-center" onchange="submitSelect(this)" id="broadcast-name-select">
              <option value="">-- New Broadcast --</option>
              {{range .ParsedBroadcasts}} {{$isSelected := eq .Name $.CurrentBroadcast.Name}}
              <option value="Broadcast.{{ .UUID }}" {{if $isSelected}}selected{{end}}>{{ .Name }}</option>
              {{end}}
            </select>
          </div>
          <div class="d-flex align-items-center gap-1 mb-1">
            <div class="w-25"></div>
            <input class="advanced h-auto" type="checkbox" name="list-secondaries" value="listing-secondaries" onchange="this.form.submit()" {{if .ListingSecondaries}}checked{{end}} />
            <small class="advanced">List Secondary Broadcasts</small>
          </div>
          <div class="d-flex justify-content-between pt-5">
            <h2>Stream Settings</h2>
            <a href="https://ausocean.github.io/cloud/oceanbench/broadcast/broadcast.html">Help</a>
          </div>
          <hr />
          <fieldset class="mx-auto">
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="broadcast-name" class="w-25 text-end">Broadcast Name:</label>
              <input type="input" name="broadcast-name" class="form-control align-items-center w-50" value="{{.CurrentBroadcast.Name}}" />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="broadcast-name" class="advanced w-25 text-end">Broadcast UUID:</label>
              <input type="input" name="broadcast-uuid" class="advanced form-control align-items-center w-50" value="{{.CurrentBroadcast.UUID}}" readonly />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <div class="w-25"></div>
              <div class="form-check form-switch d-flex align-items-center gap-1 p-0">
                <input type="checkbox" name="enabled" class="form-check-input m-0" role="switch" value="enabled" {{if .CurrentBroadcast.Enabled}}checked{{end}} />
                <small>Enabled</small>
              </div>
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <div class="w-25"></div>
              <div class="form-check form-switch d-flex align-items-center gap-1 p-0">
                <input type="checkbox" name="in-failure" class="form-check-input m-0" role="switch" value="in-failure" {{if .CurrentBroadcast.InFailure}}checked{{end}} />
                <small>Failure Mode</small>
              </div>
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="account" class="w-25 text-end">Channel:</label>
              <div class="d-flex align-items-center gap-2 w-50">
                <input type="input" name="account" class="form-control align-items-center" value="{{.CurrentBroadcast.Account}}" readonly />
                <button class="btn btn-primary w-50" onclick="buttonClick(this)" value="broadcast-token">Generate Token</button>
              </div>
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="account" class="w-25 text-end">Live Privacy:</label>
              <div class="d-flex align-items-center gap-3 flex-row">
                {{range .Settings.Privacy}}
                <div>
                  <input type="radio" name="live-privacy" value="{{.}}" id="{{.}}-radio" {{if eq . $.CurrentBroadcast.LivePrivacy}}checked{{end}} />
                  <label class="text-capitalize" for="{{.}}-radio">{{.}}</label>
                </div>
                {{end}}
              </div>
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="account" class="w-25 text-end">Post Live Privacy:</label>
              <div class="d-flex align-items-center gap-3 flex-row">
                {{range .Settings.Privacy}}
                <div>
                  <input type="radio" name="post-live-privacy" value="{{.}}" id="{{.}}-radio" {{if eq . $.CurrentBroadcast.PostLivePrivacy}}checked{{end}} />
                  <label class="text-capitalize" for="{{.}}-radio">{{.}}</label>
                </div>
                {{end}}
              </div>
            </div>
            <div class="d-flex align-items-top gap-1 mb-1">
              <label for="description" class="w-25 text-end">Description:</label>
              <textarea id="description-box" class="form-control w-50" type="input" name="description">{{.CurrentBroadcast.Description}}</textarea>
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="stream-name" class="w-25 text-end">Stream Name:</label>
              <input type="input" class="form-control w-50" name="stream-name" value="{{.CurrentBroadcast.StreamName}}" />
            </div>
            <div id="set-times">
              <div class="d-flex align-items-center gap-1 mb-1">
                <label for="start-time" class="w-25 text-end">Start Time:</label>
                <div class="d-flex gap-2 w-50">
                  <input name="start-time" class="form-control" type="time" id="start-time" onchange="syncDateTime('start-time', 'start-timestamp', 'time-zone', true)" size="14" />
                  <input class="advanced form-control" name="start-timestamp" type="input" id="start-timestamp" onchange="syncDateTime('start-time', 'start-timestamp', 'time-zone', false);" value="{{if .CurrentBroadcast.StartTimestamp}}{{.CurrentBroadcast.StartTimestamp}}{{end}}" size="15" />
                </div>
              </div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <label for="end-time" class="w-25 text-end">End Time:</label>
                <div class="d-flex gap-2 w-50">
                  <input name="end-time" class="form-control" type="time" id="end-time" onchange="syncDateTime('end-time', 'end-timestamp', 'time-zone', true)" size="14" />
                  <input class="advanced form-control" name="end-timestamp" type="input" id="end-timestamp" onchange="syncDateTime('end-time', 'end-timestamp', 'time-zone', false);" value="{{if .CurrentBroadcast.EndTimestamp}}{{.CurrentBroadcast.EndTimestamp}}{{end}}" size="15" />
                </div>
              </div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <label class="w-25 text-end">Timezone:</label>
                <div class="w-25">
                  <input class="w-50 form-control" id="time-zone" size="1" value="{{with .Site}}{{if .Timezone}}{{.Timezone}}{{end}}{{end}}" readonly />
                </div>
              </div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <label class="w-25 text-end">Broadcast State:</label>
                <input class="w-50 align-items-center form-control" id="broadcast-state" size="1" value="{{.CurrentBroadcast.BroadcastState}}" readonly />
              </div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <label class="w-25 text-end">Hardware State:</label>
                <input class="w-50 align-items-center form-control" id="hardware-state" size="1" value="{{.CurrentBroadcast.HardwareState}}" readonly />
              </div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <label class="w-25 text-end">Hardware State Data:</label>
                <input class="w-50 align-items-center form-control" id="hardware-state-data" size="1" value="{{.CurrentBroadcast.PrettyHardwareStateData}}" readonly />
              </div>
              <div class="d-flex align-items-center gap-1 mb-1">
                <div class="w-25"></div>
                <button class="w-50 btn btn-secondary btn-sm" onclick="buttonClick(this)" value="broadcast-reset-state">Reset States</button>
              </div>
            </div>
          </fieldset>
          <h2 class="pt-5">Device Settings</h2>
          <hr />
          <fieldset>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="camera-mac" class="w-25 text-end">Camera:</label>
              <div class="w-50 d-flex align-items-center justify-content-between">
                <select id="camera-select" name="camera-mac" class="form-select h-auto w-50">
                  <option {{if eq .CurrentBroadcast.CameraMac 0}}selected{{end}}>Select</option>
                  {{range .Cameras}}
                  <option value="{{.MAC}}" {{if eq .Mac $.CurrentBroadcast.CameraMac }}selected{{end}}>{{.Name}}</option>
                  {{end}}
                </select>

                <div class="d-flex gap-3 flex-row">
                  {{range .Settings.Resolution}}
                  <div>
                    <input type="radio" name="resolution" value="{{.}}" checked />
                    {{.}}
                  </div>
                  {{end}}
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="controller-mac" class="w-25 text-end">Controller:</label>
              <div class="w-50 d-flex align-items-center justify-content-between">
                <select id="controller-select" name="controller-mac" class="form-select h-auto w-50">
                  <option {{if eq .CurrentBroadcast.ControllerMAC 0}}selected{{end}}>Select</option>
                  {{range .Controllers}}
                  <option value="{{.MAC}}" {{if eq .Mac $.CurrentBroadcast.ControllerMAC}}selected{{end}}>{{.Name}}</option>
                  {{end}}
                </select>
                <button type="button" onclick="generateActions()" class="btn btn-primary">Generate Actions</button>
              </div>
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="on-actions" class="w-25 text-end">On Actions:</label>
              <input id="on-actions" type="input" name="on-actions" class="form-control w-50" value="{{.CurrentBroadcast.OnActions}}" class="actions" />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="shutdown-actions" class="w-25 text-end">Shutdown Actions:</label>
              <input id="shutdown-actions" type="input" name="shutdown-actions" class="form-control w-50" value="{{.CurrentBroadcast.ShutdownActions}}" class="actions" />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="off-actions" class="w-25 text-end">Off Actions:</label>
              <input id="off-actions" type="input" name="off-actions" class="form-control w-50" value="{{.CurrentBroadcast.OffActions}}" class="actions" />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="rtmp-key-var" class="w-25 text-end">RTMP URL Variable:</label>
              <input id="rtmp-var" type="input" name="rtmp-key-var" class="w-50 form-control" value="{{.CurrentBroadcast.RTMPVar}}" />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label class="advanced w-25 text-end">RTMP Key:</label>
              <input class="advanced w-50 form-control" type="input" name="rtmp-key" value="{{.CurrentBroadcast.RTMPKey}}" />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="report-sensor" class="w-25 text-end">Live Data in Chat:</label>
              <input type="checkbox" name="report-sensor" id="report-sensor" value="Chat" />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label class="advanced w-25 text-end">Sensors:</label>
              <button class="advanced btn btn-primary btn-sm" onclick="checkAll(this.form)">Add All</button>
              <button class="advanced btn btn-primary btn-sm" onclick="uncheckAll(this.form)">Clear All</button>
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <div class="w-25"></div>
              <div class="d-flex align-items-center gap-2 flex-wrap">
                {{ range .CurrentBroadcast.SensorList }}
                <div class="d-flex gap-1">
                  <input class="advanced" type="checkbox" name="{{ .Name }}" id="{{ .Name }}" value="{{ .Sensor.Name }}" />
                  <p class="advanced">{{ .Sensor.Name }}</p>
                </div>
                {{ end }}
              </div>
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="check-health" class="advanced w-25 text-end">Health Check:</label>
              <input class="advanced" type="checkbox" name="check-health" value="checking-health" {{if .CurrentBroadcast.CheckingHealth}}checked{{end}} />
            </div>
          </fieldset>
          <h2 class="advanced pt-5">Advanced Settings</h2>
          <hr class="advanced" />
          <fieldset>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="use-vidforward" class="advanced w-25 text-end">Use Vidforward:</label>
              <input class="advanced" type="checkbox" name="use-vidforward" value="using-vidforward" {{if .CurrentBroadcast.UsingVidforward}}checked{{end}} />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="vidforward-host" class="advanced w-25 text-end">Vidforward Host:</label>
              <input class="advanced w-50 form-control" type="input" name="vidforward-host" value="{{.CurrentBroadcast.VidforwardHost}}" />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="slate-file" class="advanced w-25 text-end">Slate File:</label>
              <div class="d-flex w-50 gap-2">
                <input class="advanced form-control" type="file" name="slate-file" />
                <button class="advanced w-50 btn btn-primary" onclick="buttonClick(this)" value="vidforward-slate-update">Upload Slate</button>
              </div>
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="battery-voltage-pin" class="advanced w-25 text-end">Battery Voltage Pin:</label>
              <input class="advanced w-50 form-control" type="input" name="battery-voltage-pin" value="{{.CurrentBroadcast.BatteryVoltagePin}}" />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="required-streaming-voltage" class="advanced w-25 text-end">Required Streaming Voltage:</label>
              <input class="advanced w-50 form-control" type="input" name="required-streaming-voltage" value="{{.CurrentBroadcast.RequiredStreamingVoltage}}" />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="voltage-recovery-timeout" class="advanced w-25 text-end">Voltage Recovery Timeout (hr):</label>
              <input class="advanced w-50 form-control" type="input" name="voltage-recovery-timeout" value="{{.CurrentBroadcast.VoltageRecoveryTimeout}}" />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="register-openfish" class="advanced w-25 text-end">Register stream with OpenFish:</label>
              <input class="advanced" type="checkbox" name="register-openfish" value="register-openfish" {{if .CurrentBroadcast.RegisterOpenFish}}checked{{end}} />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="openfish-capturesource" class="advanced w-25 text-end">OpenFish Capture Source:</label>
              <input class="advanced w-50 form-control" type="input" name="openfish-capturesource" value="{{.CurrentBroadcast.OpenFishCaptureSource}}" />
            </div>
            <div class="d-flex align-items-center gap-1 mb-1">
              <label for="notify-suppress-rules" class="advanced w-25 text-end">Notification Suppression Rules:</label>
              <input class="advanced w-50 form-control" type="input" name="notify-suppress-rules" value="{{.CurrentBroadcast.NotifySuppressRules}}" />
            </div>
          </fieldset>
          <input type="hidden" name="broadcast-id" value="{{.CurrentBroadcast.BID}}" />
          <input type="hidden" name="active" value="{{.CurrentBroadcast.Active}}" />
          <div class="d-flex w-100 gap-2">
            <div class="w-25"></div>
            <button class="btn btn-primary" onclick="buttonClick(this)" value="broadcast-save">Save</button>
            <button class="btn btn-primary" onclick="if (confirm('Are you sure you want to delete the broadcast?')) {buttonClick(this)}" value="broadcast-delete">Delete</button>
          </div>
          <div class="w-100 d-flex justify-content-end gap-1">
            <label for="adv-toggle">Advanced Options:</label>
            <input type="checkbox" id="adv-options-toggle" name="adv-toggle" onchange="toggleAdvanced(checked)" />
          </div>

          <!--This hidden field stores the value of button presses.-->
          <input type="hidden" name="action" value="" />
        </form>
      </div>

      {{if .CurrentBroadcast.BID}}
      <div class="border rounded p-4 container-md bg-white mt-5 d-flex justify-content-center">
        <div class="rounded overflow-hidden" style="height: 315px; width: 560px">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{.CurrentBroadcast.BID}}" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      {{end}}
    </section>
    <!-- These only exist to hold the data from the templates, these will be read by javascript. -->
    <div id="sensor-list" style="display: none" data-sensor-list="{{json .CurrentBroadcast.SensorList}}"></div>
    <div id="send-msg" style="display: none" data-send-msg="{{.CurrentBroadcast.SendMsg}}"></div>

    {{.Footer}}
  </body>
</html>
