<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{ if .Dev }}
    <script type="module" src="http://localhost:5173/@vite/client"></script>
    {{ end }}
    <link href="/s/main.css" rel="stylesheet" type="text/css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="/s/main.css" rel="stylesheet" type="text/css" />
    <title>CloudBlue</title>
    <script type="module" src="/s/lit/header-group.js"></script>
    <script type="text/javascript" src="/s/main.js"></script>
    <script type="text/javascript" src="/s/index.js"></script>
  </head>
  <body>
    <header-group id="header" class="header" version="{{ .Version }}" {{ if .Profile }}auth="true" {{ end }}>
      <nav-menu id="nav-menu" slot="nav-menu">
        {{ range .Pages -}}
        <li data-perm="{{ .Perm }}" class="indent-{{ .Level }}">
          <a {{ if .URL }}href="{{ .URL }}" {{ end }}{{ if .Selected }}class="selected" {{ end }}>{{ .Name }}</a>
        </li>
        {{- end }}
      </nav-menu>
      <site-menu id="sitemenu" {{ if .Profile }}selected-data="{{ .Profile.Data }}" {{ end }} slot="site-menu"></site-menu>
    </header-group>
    <section id="main" class="main">
      <h1 class="container-md">Home</h1>
      <div class="border rounded p-4 container-md bg-white">
        <p>
          Welcome to
          <em>CloudBlue</em>
          by
          <a href="https://www.ausocean.org">AusOcean</a>
          .
        </p>
        {{ if .Profile }}
        <p>
          You are logged in as {{ .Profile.Email }} and have
          <span id="num-sites" class="spinner-border spinner-border-sm" role="status"></span>
          sites.
        </p>
        <p>
          <a href="/admin/site/add">Register a new site</a>
        </p>
        {{ else }}
        <div>
          <a href="{{ .LoginURL }}" style="text-transform: none">
            <img width="20px" alt="Google logo" src="/s/google.png" />
            Login with Google
          </a>
        </div>
        {{ end }}
      </div>
    </section>
  </body>
  {{ .Footer }}
</html>
