<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>New Device</title>
  <script type="module" src="/s/lit/header-group.js"></script>
</head>
<body>
  <header-group id="header" class="header" version="{{.Version}}" {{if .Profile}}auth="true"{{end}}>
    <nav-menu id="nav-menu" slot="nav-menu">
      {{range .Pages -}}
        <li data-perm="{{.Perm}}" class="indent-{{ .Level }}">
          <a {{if .URL}}href="{{.URL}}"{{end}}{{if .Selected}} class="selected"{{end}}>{{.Name}}</a>
        </li>
      {{- end}}
    </nav-menu>
    <site-menu id="sitemenu" {{if .Profile}}selected-data="{{.Profile.Data}}"{{end}} slot="site-menu">
      {{range .Users -}}
        <option style="display: none" slot="{{.PermissionText}}" value="{{.Skey}}"></option>
      {{- end}}
    </site-menu>
  </header-group>
  <section id="main" class="main">
    {{ if .Unimplemented}}
      <div class="red">
        This type is not yet implemented for auto setup, see the
        <a href="/device">
          old devices page
        </a>
        .
      </div>
    {{end}}
    {{if .Msg}}
      <div class="red">
        {{.Msg}}
      </div>
      <br>
    {{end}}
    <h1 class="container-md" id="new-devtype">New Device</h1>
    <div class="border rounded p-4 container-md bg-white">  
      <form action="/newdevice" method="post" enctype="multipart/form-data" class="d-flex flex-column gap-3 align-items-center">
        <div class="d-flex flex-column gap-2 w-50 align-items-center">
          <strong>Give your device a name</strong>
          <div>
            <input placeholder="My New Device" class="text-center" id="name-input" name="name">
          </div>
        </div>
        <div class="d-flex flex-column gap-2 align-items-center">
          <strong>Enter the device type to create</strong>
          <select name="type" class="text-center" id="type">
            <option value="">-- Select Device Type --</option>
            {{range .DevTypes}}
              <option value="{{.}}" {{if eq $.SelectedType .}}selected{{end}}>{{.}}</option>
            {{end}}
          </select>
        </div>
        <div class="d-flex flex-column gap-2 align-items-center">
          <strong>Input the device MAC</strong>
          <input placeholder="A0:A0:A0:12:34:56" id="mac-input" class="text-center" name="mac">
        </div>
        <div class="d-flex flex-column gap-2 align-items-center" id="wifi-group">
          <strong>Enter the WiFi SSID (Name) and Password</strong>
          <div class="d-flex gap-2">
            <input placeholder="AusOcean-NetXX" id="wifi-input" class="text-center" name="mac">
            <input placeholder="aus0cean" id="password-input" class="text-center" name="mac">
          </div>
        </div>
        <input type="submit" class="btn btn-primary" value="Create New Device">
      </form>
    </div>
  </section>
  {{.Footer}}
</body>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
<link href="/s/main.css" rel="stylesheet" type="text/css"/>
<script type="text/javascript" src="/s/newdevice.js"></script>
</html>
