<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="http://localhost:5173/src/main.css" rel="stylesheet" type="text/css" />
    <title>CloudBlue | Register Site</title>
    <script type="module" src="http://localhost:5173/src/web-components/header-group.ts"></script>
    <script type="text/javascript" src="http://localhost:5173/src/main.js"></script>
  </head>
  <body>
    <header-group id="header" class="header" version="{{ .Version }}" {{ if .Profile }}auth="true" {{ end }}>
      <nav-menu id="nav-menu" slot="nav-menu">
        {{ range .Pages -}}
        <li data-perm="{{ .Perm }}" class="indent-{{ .Level }}">
          <a {{ if .URL }}href="{{ .URL }}" {{ end }}{{ if .Selected }}class="selected" {{ end }}>{{ .Name }}</a>
        </li>
        {{- end }}
      </nav-menu>
      <site-menu id="sitemenu" {{ if .Profile }}selected-data="{{ .Profile.Data }}" {{ end }} slot="site-menu">
        {{ range .Users -}}
        <option style="display: none" slot="{{ .PermissionText }}" value="{{ .Skey }}"></option>
        {{- end }}
      </site-menu>
    </header-group>
    <section id="main" class="main">
      {{ if .Msg }}
      <div class="red">{{ .Msg }}</div>
      <br />
      {{ end }}

      <div class="rounded-box width-600px">
        <span class="bold">Site</span>
        <hr />
        <div>
          <form class="inline" enctype="multipart/form-data" action="/admin/site/add" method="post">
            <label>Name:</label>
            <input type="text" name="sn" class="dbl bold" />
            <br />
            <input type="submit" value="Register" />
          </form>
        </div>
      </div>
      <!--rounded box -->
      <br />
    </section>
    {{ .Footer }}
  </body>
</html>
