<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link href="/s/main.css" rel="stylesheet" type="text/css"/>
  <title>Devices</title>
  <script type="module" src="/s/lit/header-group.js"></script>
  <script type="text/javascript" src="/s/main.js"></script>
</head>
<body>
  <header-group id="header" class="header" version="{{.Version}}" {{if .Profile}}auth="true"{{end}}>
    <nav-menu id="nav-menu" slot="nav-menu">
      {{range .Pages -}}
        <li data-perm="{{.Perm}}" class="indent-{{ .Level }}">
          <a {{if .URL}}href="{{.URL}}"{{end}}{{if .Selected}} class="selected"{{end}}>{{.Name}}</a>
        </li>
      {{- end}}
    </nav-menu>
    <site-menu id="sitemenu" {{if .Profile}}selected-data="{{.Profile.Data}}"{{end}} slot="site-menu">
      {{range .Users -}}
        <option style="display: none" slot="{{.PermissionText}}" value="{{.Skey}}"></option>
      {{- end}}
    </site-menu>
  </header-group>
  <section id="main" class="main">
    {{if .Msg}}
      <div class="red">
        {{.Msg}}
      </div>
      <br>
    {{end}}
    <h1 class="container-md">Devices</h1>
    <div class="border rounded p-4 container-md bg-white">
      <a href="/set/devices">Manual Configuration</a>
      {{ if eq (len .Devices) 0 }}
      No Devices waiting to be configured
      {{else}}
      <form action="/set/devices/configure" enctype="multipart/form-data" method="get">
        <fieldset>
          <div class="d-flex align-items-center gap-1 mb-1">
            <label class="col-4 text-end">Device:</label>
            <div class="col-6 d-flex gap-1">
              <select name="ma" onchange="location.assign('?ma=' + this.value)" class="form-select h-auto align-items-center" >
                {{range .Devices}}
                  <option value="{{ .MAC }}"{{if eq .MAC $.Mac}} selected{{end}}>{{ .Name }}</option>
                {{end}}
              </select>
              <button class="btn btn-primary h-auto">Configure</button>
            </div>
          </div>
        </fieldset>
      </form>

      {{with .Device}}
          <div class="d-flex align-items-center gap-1 mb-1">
            <label class="col-4 text-end">Device Key:</label>
            <div class="col-6">
              <input class="form-control" value="{{.Dkey}}" disabled></input>
            </div>
          </div>
          <div class="d-flex align-items-center gap-1 mb-1">
            <label class="col-4 text-end">MAC:</label>
            <div class="col-6">
              <input class="form-control" value="{{.MAC}}" readonly></input>
            </div>
          </div>
          <div class="d-flex align-items-center gap-1 mb-1">
            <label class="col-4 text-end">Last updated:</label>
            <div class="col-6">
              <input class="form-control" value="{{if .Name}}{{localdatetime .Updated.Unix $.Timezone}}{{end}}" disabled>
            </div>
          </div>
          <div class="d-flex align-items-center gap-1 mb-1">
            <label class="col-4 text-end">Uptime:</label>
            <div class="col-6">
              <input class="form-control" value="{{if (.Other "uptime")}}{{.Other "uptime"}}{{end}}" disabled>
            </div>
          </div>
          <div class="d-flex align-items-center gap-1 mb-1">
            <label class="col-4 text-end">Enabled:</label>
            <div class="col">
              <input type="checkbox" name="de" id="de" {{if .Enabled }}checked{{end}}>
              <img src="/s/{{ .StatusText }}.png" alt="{{ .StatusText }}">
              <img src="/s/{{ .Other "sending"}}.png" alt="{{ .Other "sending"}}">
            </div>
          </div>


      {{end}}
      {{end}}
    </div>
  </section>
  {{.Footer}}
</body>
</html>
