<!doctype html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link href="/s/main.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <title>CloudBlue | TV Overview</title>
    <script type="module" src="/s/lit/header-group.js"></script>
    <script type="module" src="/s/lit/tv-overview.js"></script>
    <script type="text/javascript" src="/s/main.js"></script>
  </head>
  <body>
    <header-group id="header" class="header" version="{{ .Version }}" {{ if .Profile }}auth="true" {{ end }}>
      <nav-menu id="nav-menu" slot="nav-menu">
        {{ range .Pages -}}
        <li data-perm="{{ .Perm }}" class="indent-{{ .Level }}">
          <a {{ if .URL }}href="{{ .URL }}" {{ end }}{{ if .Selected }}class="selected" {{ end }}>{{ .Name }}</a>
        </li>
        {{- end }}
      </nav-menu>
      <site-menu id="sitemenu" {{ if .Profile }}selected-data="{{ .Profile.Data }}" {{ end }} slot="site-menu">
        {{ range .Users -}}
        <option style="display: none" slot="{{ .PermissionText }}" value="{{ .Skey }}"></option>
        {{- end }}
      </site-menu>
    </header-group>
    <section id="main" class="main">
      {{if .Msg}}
      <div class="red">{{.Msg}}</div>
      <br />
      {{end}}

      <h1 class="container-md">TV Overview</h1>
      <tv-overview></tv-overview>
    </section>
    {{ .Footer }}
  </body>
</html>
